<div id="footer" class="container-fluid">
  <h1 class="head" style='font-size:35px'>More About Me</h1>
  <div><div class="underline"></div></div>
  <div class="col-md-3">
    <img class="img-responsive aboutImg" src="../assets/jose.JPG" alt="">
  </div>
  <div class="col-md-4">
    <p class="desc">Name</p>
    <p class="ans">Jose Medina</p>
    <p class="desc">Hobbies</p>
    <p class="ans">Coding basketball hiking skateboarding </p>
    <p class="desc">From</p>
    <p class="ans">Vista, Ca</p>
    <p class="desc">email</p>
    <p class="ans">josemedina760@gmail.com</p>
    <p class="aboutTxt">
        Hey there, I'm Jose Medina and I'd like to welcome you to my website!
        I'm also an experienced full stack developer, building amazing web and hybrid apps one day at a time. 
        Want to keep up with my coding adventures? Check out my
        <a target='_blank' href="https://github.com/josemedina760">github!</a>.
    </p>
  </div>
  <div class="col-md-5">
    <h1 class="head">Skills</h1>
    <div><div class="underline"></div></div>
    <div class="col-xs-6">
      <ul class="nopadding list">
        <li>JavaScript(ES5, ES6)</li>
        <li>Angular(1,2,4)</li>
        <li>jQuery</li>
        <li>Ext.js</li>
        <li>HTML</li>
        <li>CSS/SASS</li>
        <li>Test Suites</li>
        <li>Selenium, Karma, Jasmine..</li>
        <li>SEO</li>
        <li>WordPress</li>
      </ul>
    </div>
    <div>
      <ul class="col-xs-6 list">
        <li>Perl</li>
        <li>PHP</li>
        <li>Node.js</li>
        <li>Linux</li>
        <li>Ionic</li>
        <li>MongoDB</li>
        <li>SQL</li>
        <li>APIs(google, facebook..)</li>
        <li>Gulp/grunt/webpack</li>
        <li>Git & Crucible</li>
      </ul>
    </div>
  </div>  
</div>
<div id='copy'>&copy; Jose Medina, 2017</div>