<div class="gallery container-fluid">
  <h1 class="head">Recent Projects</h1>
  <figure class="col-md-6 col-xs-12 nopadding">
    <a target="_blank" href="http://www.socalvehicleproducts.com/"><button class="btn btn-view">VIEW</button></a> 
    <img class='img-responsive' src="../assets/socal.jpg"/>
    <figcaption>
      <div>www.socalvehicleproducts.com/</div>
    </figcaption>
  </figure>
  <figure class="col-md-6 col-xs-12 nopadding">
    <a target="_blank" href="http://missionvalleyexecutivetower.com/"><button class="btn btn-view">VIEW</button></a> 
    <img class='img-responsive' src="../assets/mission.jpg"/>
    <figcaption>
      <div>missionvalleyexecutivetower.com/</div>
    </figcaption>
  </figure>
  <figure class="col-md-6 col-xs-12 nopadding">
    <a target="_blank" href="http://divorcedocumentary.com/"><button class="btn btn-view">VIEW</button></a> 
    <img class='img-responsive' src="../assets/romeo.jpg"/>
    <figcaption>
      <div>divorcedocumentary.com</div>
    </figcaption>
  </figure>
  <figure class="col-md-6 col-xs-12 nopadding">
    <a target="_blank" href="http://janiexpress.com/"><button class="btn btn-view">VIEW</button></a>
    <img class='img-responsive' src="../assets/janiexpress.jpg"/>
    <figcaption>
    </figcaption>
  </figure>
  <figure class="col-md-6 col-xs-12 nopadding">
    <a target='_blank' href="http://josebakery.herokuapp.com/"><button class="btn btn-view">VIEW</button></a>
    <img class='img-responsive' src="../assets/bakery.jpg"/>
    <figcaption>
    </figcaption>
  </figure>
  <figure class="col-md-6 col-xs-12 nopadding">
    <a target='_blank' href="http://tekclub.herokuapp.com/"><button class="btn btn-view">VIEW</button></a>
    <img class='img-responsive' src="../assets/tek1.jpg"/>
    <figcaption>
    </figcaption>
  </figure>
</div>