<div class="headbg">
</div>
<div class="container-fluid">
    <h1 class="head">Jose Medina<br>Developer <b>+</b> Designer</h1>
    <div class="container-fluid">
        <div id='headborder'></div>
    </div>
    <h3 id="minihead">Building Awesome Back-end and Front-end Applications</h3>
</div>

<!-- Jumbo -->
<div class="customJumbo">
    <section>
        <ul id='services' class="nopadding">
            <li>
                <a target="_blank" href="https://www.linkedin.com/pub/jose-medina/102/16b/342">
                    <div class='fa fa-linkedin-square animated pulse infinite'></div>
                </a>
                <span class="jumboTxt">LinkedIn</span>
            </li>
            <li>
                <a target="_blank" href="https://github.com/josemedina760">
                    <div class='fa fa-github animated pulse infinite'></div>
                </a>
                <span class="jumboTxt" >Github</span>
            </li>
            <li>
                <a target="_blank" href="mailto:josemedina760@gmail.com">
                    <div class='fa fa-google animated pulse infinite'></div>
                </a>
                <span class="jumboTxt" >Email</span>
            </li>
        </ul>
    </section>
</div>

<!-- project galleries -->

<app-projects></app-projects>

<!-- Footer -->

<app-footer></app-footer>


